.dish-card {
  position: relative;
  background-color: var(--color-bg-white);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 16px var(--shadow-dark);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border-top: 6px solid var(--color-accent-orange);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dish-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px var(--shadow-dark);
}

.dish-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-accent-dark-red);
  margin-bottom: 12px;
  text-align: center;
}

.dish-reason {
  font-size: 1rem;
  color: var(--color-text-secondary);
  line-height: 1.5;
  text-align: center;
  font-style: italic;
}


.bot {
  width: 23px;
  height: 25px;
  margin-left: 8px;
  color:#e67e22;
}
.bot-row{
  display: flex;
  justify-content: center;
}
.diet-icon {
  width: 28px;
  height: 28px;
  color: #4caf50; /* טבעוני */
 }
.diet-row{
  display: flex;
  justify-content: center;

}
.bold{
  font-weight: bold;
  text-decoration: underline;
}